# <center><font size=7><b>Unit-4 Immutable Data Structure</b></font></center>

<h4>Immutable Data types are those that can never change their value in place.<br><br>
<b>Examples:<br>
String, Tuple etc</h4>

<h1 Style='color:#e80538;'><b>1. String</b></h1> 

- Any sequence of characters within either single quotes or double quotes is considered as a String.
- We can define multi-line String literals by using triple single or double quotes.

<h2 Style='color:#4A89DC'><b><u>Accessing charecters of string</u></b></h2>
          
<h3>1. by using <b>Index</b></h3>

In [12]:
a = "LJ University"
print(a[1])
print(a[-1])
print(a[-5])
# print(a[20]) #IndexError: string index out of range

J
y
r

<h3>2. by using <b>Slicing operator</b></h3>

    Syntax: S[beginindex : endindex : step]

In [21]:
s = "Learning Python is very easy"
print(s[1:7:1])
print(s[1:7:2])
print(s[:7])
print(s[9:])
print(s[::])
print(s[:])
print(s[::2])
print(s[::-1])
print(s[-1:-4:-1])
print(s[-1:-4])

earnin
eri
Learnin
Python is very easy
Learning Python is very easy
Learning Python is very easy
Lann yhni eyes
ysae yrev si nohtyP gninraeL
ysa

<h2 Style='color:#4A89DC'><u><b>Mathematical operation for String</b></h2>

<pre><b>+ -> Concatenation
* -> Repetition or String Multiplication
</b></pre>

In [22]:
print("Sakshi" + " Panchal")
print("ok"*3)

Sakshi Panchal
okokok

<h2 Style='color:#4A89DC'><b><u>Comparison of String</u></b></h2>

In [3]:
s1 = input("Enter First String : ")
s2 = input("Enter Second String : ")

if s1==s2:
    print("Both Strings are same")
elif s1<s2:
    print("Second Strings is greater")  
else:
    print("First Strings is greater")

Enter First String :  qw
Enter Second String :  qw

Both Strings are same

<h2 Style='color:#4A89DC'><b><u>Joining of String</u></b></h2>

    Syntax : s = separator.join (group of string)

In [32]:
t = ("Apple", "Banana", "Cherry")
x = "-".join(t)
print(x)

Apple-Banana-Cherry

<h2 Style='color:#4A89DC'><b><u>Formatting of string</u></b></h2>

In [6]:
name = "Arman"
salary = 50000
age = 25
print("{}'s salary is {} and age is {}".format(name,salary,age))

print("{1}'s salary is {2} and age is {0}".format(name,salary,age))

Arman's salary is 50000 and age is 25
50000's salary is 25 and age is Arman

<h2 Style='color:#4A89DC'><b><u>Important functions of String</u></b></h2>

<h4><b>1. len()</h4>

In [4]:
a = "LJIET"
print(len(a))

5

<h3>⇨<u>Removing spaces from String</u></h3>
    
<h4><b>1. rstrip()</u></h4>

In [17]:
t = "banana  "
x = t.rstrip()
print(t,"is a Fruit")
print(x,"is a Fruit")
print(len(t))
print(len(x))

banana   is a Fruit
banana is a Fruit
8
6

<h4><b>2. lstrip()</h4>

In [1]:
t = "  banana"
x = t.lstrip()
print(t,"is a Fruit")
print(x,"is a Fruit")

  banana is a Fruit
banana is a Fruit

<h4><b>3. strip()</h4>

In [2]:
t = "  banana  "
x = t.strip()
print(t,"is a Fruit")
print(x,"is a Fruit")

  banana   is a Fruit
banana is a Fruit

<b>Different Cases:</b>

In [15]:
t = "banana"
x = t.rstrip("a")
y = t.lstrip("b")
z = t.strip("ab")
print(x)
print(y)
print(z)
print()

t = " banana "
x = t.rstrip("a")
y = t.lstrip("b")
z = t.strip("ab")
print(x)
print(y)
print(z)
print()

t = "banana"
x = t.rstrip("an")
y = t.lstrip("ab")
z = t.strip("anb")

print(x)
print(y)
print(z)
print()

t = "banadana"
x = t.rstrip("an")
y = t.lstrip("ban")
z = t.strip("anb")
print(x)
print(y)
print(z)
print()

banan
anana
nan

 banana
 banana
 banana

b
nana


banad
dana
d

<h3>⇨<u>Changing the case of string</u></h3>
<h4><b>1. upper()</h4>

In [31]:
s = "Hello Friends"
x = s.upper()
print(x)

HELLO FRIENDS

<h4><b>2.lower()</b></h4>

In [33]:
s = "HELLO FRIENDS"
x = s.lower()
print(x)

hello friends

<h4><b>3.swapcase()</h4>

In [34]:
s = "Hello My name is SAKSHI"
x = s.swapcase()
print(x)

hELLO mY NAME IS sakshi

<h4><b>4.title()</h4>

In [42]:
s = "Hello how are you?"
x = s.title()
print(x)

Hello How Are You?

<h4><b>5.capitalize()</h4>

In [35]:
s = "hello how are you?"
x = s.capitalize()
print(x)

Hello how are you?

<h3>⇨<u>To check Type of characters in a string (check function)</u></h3>

    → Answer only in True or False
    
<h4><b>1. isalnum()</b></h4> 

- (A-Z, a-z, 0-9)

In [48]:
t = "company123"
x = t.isalnum()
print(x)

True

<h4><b>2. isalpha()</b></h4>

- (A-Z, a-z)

In [50]:
t = "company"
x = t.isalpha()
print(x)

True

<h4><b>3. isdigit() or isnumeric()</b></h4>

- isdigit --> (0-9, superscript, subscript)
- isnumeric --> (0-9, superscript, subscript, roman, vulgur function)

In [51]:
t = "5080"
x = t.isdigit()
print(x)

True

<h4><b>4. islower()</h4>

In [55]:
t = "hello world!"
x = t.islower()
print(x)

True

<h4><b>5. isupper()</h4>

In [56]:
t = "HELLO WORLD"
x = t.isupper()
print(x)

True

<h4><b>6. istitle()</h4>

- Only First Character of each Word should be Capital otherwise answer is False.

In [21]:
a = "HELLO WELCOME"
b = "Hello"
c = "22 Names"
d = "This Is  %$"
print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

<h4><b>7. isidentifier()</h4>

In [64]:
a = "MyDemo"
b = "Demo20"
c = "2Demo"
d = "My Demo"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

<h4><b>8. isspace()</h4>

In [65]:
s = " "
x = s.isspace()
print(x)

True

<h4><b><span style='color:orange'>Task 1 : </span>Calculate a count of alphabets, upper-case & lower-case letters, digits, spaces, special characters and words in String.</b></h4>

In [11]:
s = "Pyt@h$%on is 124 Very Ea$sy43"
alpha,up,low,dig,space,sp,word=0,0,0,0,0,0,0

for i in s:
    if i.isalpha():
        alpha += 1;
        if i.isupper():
            up += 1;
        else:
            low += 1;
    elif i.isdigit():
        dig += 1;
    elif i.isspace():
        space += 1;
    else:
        sp += 1
word = space+1

print('Alphabets :',alpha)
print('Upper-case letters :',up)
print('lower-case letters :',low)
print('Digits :',dig)
print('Spaces :',space)
print('Special characters :',sp)
print("words :",word)

Alphabets : 16
Upper-case letters : 3
lower-case letters : 13
Digits : 5
Spaces : 4
Special characters : 4
words : 5

<h3><b>find()</b></h3>
    
    Syntax : s.find(substring)
             s.find(substring, begin, end)

In [14]:
s = "Learning Python is very easy"
print(s.find("a"))
print(s.find("a",3,50))
print(s.find("d"))
print(s.find("Python"))

2
25
-1
9

<h3><b>count()</b></h3>

    Syntax : s.count(substring)
             s.count(substring, begin, end)

In [83]:
s = "abcdabcdefgabcxyz"
print(s.count("a"))
print(s.count("a",5,20))

3
1

<h3><b>replace()</b></h3>

    Syntax : s.replace(old string, new string)

In [18]:
s = "Learning Java is very easy"
s1 = s.replace("Java","Python")
print(s1)

Learning Python is very easy

<h3><b>split()</h3>

    Syntax: s.spilt(separator)
    
    → Strings are stored in list

In [19]:
s = "LJ University"
s1 = s.split()
print(s1)

for i in s1:
    print(i)
    
s = "11-11-2024"
l = s.split("-")
print(l)

['LJ', 'University']
LJ
University
['11', '11', '2024']

<h3>⇨<u>Remove punctuation using translate() function</h3>
<h4><b>translate() with maketrans function</h4>

    maketrans → Static method on Str type
              → 3 argument version
              → First two equal length strings
              → Third-each special character in string is mapped to none

In [22]:
import string
print(string.punctuation)
print(len(string.punctuation))
print()

print(str.maketrans("","",string.punctuation))
print()
print(str.maketrans("a","b",string.punctuation))

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
32

{33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}

{97: 98, 33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}

In [21]:
s = "Pyt@$hon is very$ easy!!"
x = str.maketrans("e"," ","$!")
print(x)
s = s.translate(x)
print(s)

{101: 32, 36: None, 33: None}
Pyt@hon is v ry  asy

In [22]:
t = "Hi Sam!!"
x = "mSa"
y = "eJo"
table = t.maketrans(x,y)
print(t.translate(table))

Hi Joe!!

<h1 Style='color:#e80538;'><b>2. Tuple</b></h1>  

- Same as list except it is immutable
- Read only version of list
- Data is fixed and never changes then we should go for tuple
- Insertion order is preserved
- Duplicate are allowed
- Heterogeneous object are allowed
- Index will play important role in tuple
- Supports both +ve and -ve index
- Represent with () paranthesis with comma separator

<h2 Style='color:#4A89DC'><u><b>Creation of Tuple</h2>

In [23]:
t = ()
print(type(t))

t = (10)
print(type(t))

t = (10,)
print(type(t))

<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [24]:
t = tuple(range(10,20,2))
print(t)

(10, 12, 14, 16, 18)

<h2 Style='color:#4A89DC'><b><u>Accessing Element of Tuple</u></b></h2>
<h3>1. by using <b>Index</b></h3>

In [26]:
t = (10,20,30,40,50,60)
print(t[2])
print(t[-1])
print(t[-5])
# print(t[10]) # IndexError: tuple index out of range

30
60
20

<h3>2. by using <b>Slicing operator</b></h3>

In [27]:
t = (10,20,30,40,50,60)
print(t[2:5])
print(t[3:100])
print(t[::2])
print(t[-1:-4:-1])
print(t[-1:-4])

(30, 40, 50)
(40, 50, 60)
(10, 30, 50)
(60, 50, 40)
()

<h2 Style='color:#4A89DC'><b><u>Immutability</h2>

In [29]:
t = (10,20,30,40)
t[2] = 70
print(t)

TypeError: 'tuple' object does not support item assignment

<h2 Style='color:#4A89DC'><u><b>Mathematical operators for Tuple</b></h2>

<pre><b>+ -> Concatenation
* -> Repetition
</b></pre>

In [25]:
t1 = (101,20,30)
t2 = (40,50,60)

print(t1+t2)
print(t1*3)

(101, 20, 30, 40, 50, 60)
(101, 20, 30, 101, 20, 30, 101, 20, 30)

<h2 Style='color:#4A89DC'><b><u>Important functions of Tuple</u></b></h2>
<h3><b>1. len()</h3>

In [33]:
t = (10,20,30,40)
print(len(t))

4

<h3><b>2. count()</b></h3>

In [34]:
t = (10,20,30,10,20,40)
print(t.count(10))
print(t.count(40))
print(t.count(50))

2
1
0

<h3><b>3. index()</b></h3>

In [35]:
t = (10,20,10,10,20)
print(t.index(10))
# print(t.index(30)) # ValueError: tuple.index(x): x not in tuple

0

<h3><b>4. sorted()</b></h3>

- Answer stored in list form

In [24]:
t = (40,10,30,20)
t1 = sorted(t)
print(t1)
t1 = sorted(t, reverse=True)
print(t1)

[10, 20, 30, 40]
[40, 30, 20, 10]

<h3><b>5. min() or max()</b></h3>

In [37]:
t = (10,20,30,60,70,40)
print(min(t))
print(max(t))

t = ("abc","ABC","def","dXZ")
print(min(t))
print(max(t))

t = (1,2,43,'a',"sa")
# print(min(t)) #TypeError: '<' not supported between instances of 'str' and 'int'

10
70
ABC
def

<h2 Style='color:#4A89DC'><b><u>Tuple Packing</u></b></h2>

In [26]:
a = 10
b =20
c = 30
d = 40
t = a,b,c,d
print(t)

(10, 20, 30, 40)

<h2 Style='color:#4A89DC'><b><u>Tuple Unpacking</u></b></h2>

In [32]:
t = (10,20,30,40)

a,b,c,d=t
print(a,b,c,d)

# a,b,c = t # ValueError: too many values to unpack (expected 3)

10 20 30 40

<h2 Style='color:#4A89DC'><b><u>Loop through Tuples</u></b></h2>

In [37]:
t = "apple","banana","cherry"

for i in t :
    print(i,end=" ")
print()

i=0
while i<len(t):
    print(t[i],end=" ")
    i += 1

apple banana cherry
apple banana cherry

<h3><b>reversed()</h3>

- Method computes reverse of given sequence object and return in the form of list

In [43]:
s ="Python"
print(list(reversed(s)))

x = ("p","y","t","h")
print(list(reversed(x)))

y = range(5,9)
print(list(reversed(y)))

z = [1,2,5,3,4]
print(list(reversed(z)))

['n', 'o', 'h', 't', 'y', 'P']
['h', 't', 'y', 'p']
[8, 7, 6, 5]
[4, 3, 5, 2, 1]

<h3><b>enumerate()</h3>

- Syntax : enumerate(iterable, start)
- If you pass a string to enumerate(), the output will show you the index and value for each character of the string.

In [54]:
l1 = ("eat","sleep","work")
print(list(enumerate(l1)))
print(list(enumerate(l1,5)))

l1 = ("eat")
print(list(enumerate(l1)))

[(0, 'eat'), (1, 'sleep'), (2, 'work')]
[(5, 'eat'), (6, 'sleep'), (7, 'work')]
[(0, 'e'), (1, 'a'), (2, 't')]

In [52]:
s = "hi how are you"
for a,b in enumerate(s): 
    print(a,"→",b)

for a in enumerate(s): 
    print(a,end=" ") # tuple form

0 → h
1 → i
2 →
3 → h
4 → o
5 → w
6 →
7 → a
8 → r
9 → e
10 →
11 → y
12 → o
13 → u
(0, 'h') (1, 'i') (2, ' ') (3, 'h') (4, 'o') (5, 'w') (6, ' ') (7, 'a') (8, 'r') (9, 'e') (10, ' ') (11, 'y') (12, 'o') (13, 'u')

<h4><b><span style='color:orange'>Task-2 : </span>WAP to remove ith character from string.</b></h4>

In [55]:
s = "Hello World"

n = int(input("Enter index to remove: "))
print(s[0:n] + s[n+1:])

Enter index to remove:  4

Hell World

<h4><b><span style='color:orange'>Task-3 : </span>WAP to find all accurances of a sub-string in a given String by ignoring the case.</b></h4>

In [3]:
s = input("Enter String: ").lower()
ss = input("Enter Sub-String: ").lower()
print(s.count(ss))

Enter String: Usain is from usa.
Enter Sub-String: usa
2

<h4><b><span style='color:orange'>Task-4 : </span>WAP to replace each special symbol with # in the String.

In [18]:
import string

s = 'qw!@$er$t y*&^ dw*&GJJ'

for i in string.punctuation:
    s = s.replace(i,"#")
print(s)

qw###er#t y### dw##GJJ

<h4><b><span style='color:orange'>Task-5 : </span>WAP to print Minimum and Maximum element in given tuple without use of min/max/sorting function.

In [21]:
t = ("abc","def","qwe")
min=max=t[0]

for i in t:
    if i>max:
        max = i;
    if i<min:
        min = i;
print("Min = ",min)
print("Max = ",max)

Min =  abc
Max =  qwe

<h4><b><span style='color:orange'>Task-6 : </span>WAP to print Even length words of string.

In [57]:
s = 'Welcome to LJ University'

for i in  s.split():
    if len(i)%2==0:
        print(i)

to
LJ
University

<h4><b><span style='color:orange'>Task-7 : </span>WAP to capitalize fist and last letter of each word.

In [60]:
s = 'Welcome to LJ University'.title()
s1=""
for i in s.split():
    s1 += i[:-1] + i[-1].upper()+" "
print(s1.rstrip())

WelcomE TO LJ UniversitY

<h4><b><span style='color:orange'>Task-8 : </span>WAP to check two Strings are balanced or not.

In [1]:
s1 = "Note"
s2 = "Not your type"
temp=0
for i in s1:
    if s2.find(i)==-1:
        temp=1
        break
if temp==0:
    print("Balanced")
else:
    print("Not Balanced")

Balanced

<h4><b><span style='color:orange'>Task-9: </span>WAP to shift decimal digit and places to left rapping the extra digit around. if shift > number of digit then reverse the number

In [15]:
num = int(input("Enter number: ")) 
s = int(input("Enter shift: "))
n = str(num)

if s>len(n):
    s1 = n[::-1]
else:
    s1 = n[s:] + n[:s]
print(s1)

Enter number: 56789
Enter shift: 3
89567

<h4><b><span style='color:orange'>Task-10 : </span>WAP to check the validity of password:</b></h4>
    
1. Minimum 8 characters
2. The alphabets must be between [a-z]
3. Atleast one alphabet should be uppercase
4. Atleast 1 number between [0-9]
5. Atleast 1 character from ( _ or @_$)

In [69]:
pw = input("Enter Password: ")
l,uc,lc,d,sp = 0,0,0,0,0

if len(pw)>7:
    l=1
    for i in pw:
        if i.isupper():
            uc = 1
        elif  i.islower():
            lc=1
        elif i.isdigit():
            d=1
        elif i in '@_$':
            sp=1
        else:
            sp=0
            break
if l==1 and uc==1 and lc==1 and d==1 and sp == 1:
    print("Valid")
else:
    print("Not Valid")

Enter Password:  Sakshi@123

Valid

In [70]:
pw = input("Enter Password: ")
count = 0
if len(pw)>7:
    for i in pw:
        if i.isupper() or i.islower() or i.isdigit() or i in '@_$':
            count += 1
if count==len(pw):
    print("Valid")
else:
    print("Not Valid")

Enter Password:  Sakshi_12*

Not Valid

<h4><b><span style='color:orange'>Task-11: </span>WAP to display all positions of a sub string in a given string</b></h4>

In [2]:
s = "abcabcdhgfdcbabca"

temp=0
for i in range(s.count("a")): 
    temp = s.find('a',temp, len(s))
    print("Position : ", temp)
    temp += 1
    
print(s.count("a"))

Position :  0
Position :  3
Position :  13
Position :  16
4

<h4><b><span style='color:orange'>Task-12: </span>WAP to short the characters of the strings : First alphabet symbols followed by numerical values.</b></h4>

In [5]:
s = input("Enter String : ")
alpha = ""
num = ""

for i in sorted(s) : 
    if i.isalpha() :
        alpha = alpha + i
    elif i.isdigit():
        num = num + i

print(alpha + num)

Enter String :  1234qwert

eqrtw1234

<h4><b><span style='color:orange'>Task-13: </span>WAP for Input = a4b4c2 : Output = aaaabbbcc</b></h4>

In [6]:
s = 'a4b4c2'
op = ''

for i in range(0,len(s),2):
    op += s[i]*int(s[i+1])

print('Output:',op)

Output: aaaabbbbcc

<h4><b><span style='color:orange'>Task-14: </span>WAP to count number of strings where the length is 3 or more & the first and last character are same from given list of string</b></h4>

In [14]:
l = ["abc","xyz","2112","aba","1234551","123456"]
count=0

for i in l:
    if len(i)>=3 and i[0]==i[len(i)-1]:
        count += 1

print('Count of string:',count)

Count of string: 3