## pop()

In [1]:
n = [10,20,30,40,50]
print(n.pop())
print(n.pop())
print(n)

50
40
[10, 20, 30]

In [2]:
y=[]
print(y.pop())

IndexError: pop from empty list

In [5]:
n = [10,20,30,40,50]
print(n.pop())
print(n.pop(1))
# print(n.pop(10)) # IndexError: pop index out of range

50
20

## clear()

In [7]:
n = [1,2,3,4,5]
n.clear()
print(n)

[]

## reverse()

In [13]:
n = [1,3,5,4,2]
n.reverse()
print(n)

[2, 4, 5, 3, 1]

## sort()

In [12]:
n = [2,5,1,15,0]
n.sort()
print(n)

n.sort(reverse=True)
print(n)

[0, 1, 2, 5, 15]
[15, 5, 2, 1, 0]

In [14]:
x = ["D","A","B","C"]
x.sort()
print(x)

['A', 'B', 'C', 'D']

## Mathematical operators for List

    + - concatenation
    * - Repetition

In [17]:
a = [1,2,3]
b = [4,5,6]

print(a+b)
print(a+[4])
# print(a+4) # TypeError: can only concatenate list (not "int") to list
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

## Comparison operators for List

In [21]:
x = ["Dog","Cat","Rat"]
y = ["Dog","Cat","Rat"]
z = ["DOG","CAT","RAT"]

print(x==y)
print(x==z)
print(x!=z)

True
False
True

In [22]:
x = ["Dog","Cat","Rat"]
y = ["Rat","Cat","Dog"] 

print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

False
False
True
True

In [23]:
x = [50,20,30]
y = [50,20,30,60,100,200]

print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

False
False
True
True

## Membership operators for List

1. in
2. not in

In [27]:
l = [10,20,30,40]
print(10 in l)
print(40 not in l)
print(50 in l)

True
False
False

In [29]:
l = [10,20,30,40,50]
x = l[:] # or i.copy()
x[2] = 100
print(x)
print(l)

[10, 20, 100, 40, 50]
[10, 20, 30, 40, 50]

## Nested list

In [34]:
n = [10,20,30,[40,20],[60,70,80]]
print(n[0])
print(n[3][0])
print(n[4][2])

10
40
80

In [35]:
n = [10,20,30,[40,20],[60,70,80,[100,200]]]
print(n[4][3][1])

200

In [38]:
n = [[10,20,30],[40,50,60],[70,80,90]]

for i in n:
    for j in i:
        print(j,end=" ")
    print()

10 20 30
40 50 60
70 80 90

In [57]:
n = [[1,2,3],[4,5,6],[7,8,9]]
l = [0,0,0] 

for i in range(len(n)):
    for j in range(len(n)):
        l[i][j] += n[i][j]
print(l)

TypeError: 'int' object is not subscriptable

In [54]:
n = [[1,2,3],[4,5,6],[7,8,9]]

for i in range(len(n[0])): 
    new = [row[i] for row in n]
    print(new)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

## List Comprehension

    Syntax: l = [expression for item in list if condition]

In [53]:
s = [x*x for x in range(1,11)]
print(s)
v = [2**x for x in range(1,6)]
print(v)
m = [x for x in s if x%2==0]
print(m)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]
[4, 16, 36, 64, 100]

### WAP to print element with frequency greater then a given value of key

In [59]:
l = [1,1,1,1,2,2,2,2,3,3,5,5,5,6,7]
n = []
k = 2

for i in l:
    if l.count(i)>k and i not in n:
        n.append(i)
        
print(n)

[1, 2, 5]

## Dictionary

- represent a group of object as key-value pairs <br>
  Ex. rollno-name
- Duplicate keys not allowed but values can be duplicated.
- Heterogeneous object are allowed for both key and values.
- Insertion Order not preserved.
- Mutable
- Index and slicing concepts are not applicable.<br>
Ex. d = {10:"Lucky",20:"Arman",30:"Aryan"}

In [63]:
d = {} # dict()
print(type(d))

s = set()
print(type(s))

d[10] = "Arman"
d[20] = "Aryan"
d[30] = "Lucky"
print(d)

<class 'dict'>
<class 'set'>
{10: 'Arman', 20: 'Aryan', 30: 'Lucky'}

In [65]:
d = dict([(10,"Lucky"),(20,"Arman"),(30,"Aryan")])
print(d)

{10: 'Lucky', 20: 'Arman', 30: 'Aryan'}

In [73]:
d = {10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
print(d[10])
# print(d[40]) # KeyError: 40

d[40] = "Sumit"
print(d)

d[10] = "Sachin"
print(d)

del d[40] # if not present then KeyError
print(d)

d.clear()
print(d)

del d
# print(d) # NameError: name 'd' is not defined

Arman
{10: 'Arman', 20: 'Aryan', 30: 'Lucky', 40: 'Sumit'}
{10: 'Sachin', 20: 'Aryan', 30: 'Lucky', 40: 'Sumit'}
{10: 'Sachin', 20: 'Aryan', 30: 'Lucky'}
{}

## Dictionary Comprehension

In [74]:
square = {x:x*x for x in range(1,6)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## Important Functions of Dictionary 

### 1. dict()
### 2. len()
### 3. clear()
### 4. copy()
### 5. update()

In [78]:
l = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
print(len(l))

x = l.copy()
x[1] = 50
print(l)
print(x)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 50, 2: 4, 3: 9, 4: 16, 5: 25}

In [80]:
d = {10:20,30:40,50:60}
x = {10:50,200:40,300:600}
d.update(x)
print(d)

{10: 50, 30: 40, 50: 60, 200: 40, 300: 600}

### 6. get()

In [82]:
d = {10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
print(d[10])
print(d.get(10))
print(d.get(40))

print(d.get(10,"Guest"))
print(d.get(40,"Guest"))

Arman
Arman
None
Arman
Guest

### 7. popitem()

In [85]:
d = {10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
print(d.popitem())
print(d)

d = {}
# print(d.popitem()) # KeyError: 'popitem(): dictionary is empty'

(30, 'Lucky')
{10: 'Arman', 20: 'Aryan'}

### 8. keys()
### 9. values()
### 10. items()

In [88]:
d = {10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
print(d.keys())
print(d.values())
print(d.items())
print()

for i in d.keys():
    print(i,end=" ")
print()
    
for i in d.values():
    print(i,end=" ")
print()
    
for i,j in d.items():
    print(i,"-",j,end="  ")

dict_keys([10, 20, 30])
dict_values(['Arman', 'Aryan', 'Lucky'])
dict_items([(10, 'Arman'), (20, 'Aryan'), (30, 'Lucky')])

10 20 30
Arman Aryan Lucky
10 - Arman  20 - Aryan  30 - Lucky

### setdefault()

In [89]:
d = {10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
print(d.setdefault(40,"Pavan"))
print(d)
print(d.setdefault(10,"Sachin"))
print(d)

Pavan
{10: 'Arman', 20: 'Aryan', 30: 'Lucky', 40: 'Pavan'}
Arman
{10: 'Arman', 20: 'Aryan', 30: 'Lucky', 40: 'Pavan'}

In [90]:
s = "Dog the quick brown fox jumps over the lazy dog".lower()
d = {}

for i in s.split():
    d.setdefault(i,s.count(i))
print(d)

{'dog': 2, 'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1}