## pop()

In [1]:
n = [10,20,30,40,50]
print(n.pop())
print(n.pop())
print(n)

50
40
[10, 20, 30]

In [2]:
y=[]
print(y.pop())

IndexError: pop from empty list

In [5]:
n = [10,20,30,40,50]
print(n.pop())
print(n.pop(1))
# print(n.pop(10)) # IndexError: pop index out of range

50
20

## clear()

In [7]:
n = [1,2,3,4,5]
n.clear()
print(n)

[]

## reverse()

In [13]:
n = [1,3,5,4,2]
n.reverse()
print(n)

[2, 4, 5, 3, 1]

## sort()

In [12]:
n = [2,5,1,15,0]
n.sort()
print(n)

n.sort(reverse=True)
print(n)

[0, 1, 2, 5, 15]
[15, 5, 2, 1, 0]

In [14]:
x = ["D","A","B","C"]
x.sort()
print(x)

['A', 'B', 'C', 'D']

## Mathematical operators for List

    + - concatenation
    * - Repetition

In [17]:
a = [1,2,3]
b = [4,5,6]

print(a+b)
print(a+[4])
# print(a+4) # TypeError: can only concatenate list (not "int") to list
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

## Comparison operators for List

In [21]:
x = ["Dog","Cat","Rat"]
y = ["Dog","Cat","Rat"]
z = ["DOG","CAT","RAT"]

print(x==y)
print(x==z)
print(x!=z)

True
False
True

In [22]:
x = ["Dog","Cat","Rat"]
y = ["Rat","Cat","Dog"] 

print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

False
False
True
True

In [23]:
x = [50,20,30]
y = [50,20,30,60,100,200]

print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

False
False
True
True

## Membership operators for List

1. in
2. not in

In [27]:
l = [10,20,30,40]
print(10 in l)
print(40 not in l)
print(50 in l)

True
False
False

In [29]:
l = [10,20,30,40,50]
x = l[:] # or i.copy()
x[2] = 100
print(x)
print(l)

[10, 20, 100, 40, 50]
[10, 20, 30, 40, 50]

## Nested list

In [34]:
n = [10,20,30,[40,20],[60,70,80]]
print(n[0])
print(n[3][0])
print(n[4][2])

10
40
80

In [35]:
n = [10,20,30,[40,20],[60,70,80,[100,200]]]
print(n[4][3][1])

200

In [38]:
n = [[10,20,30],[40,50,60],[70,80,90]]

for i in n:
    for j in i:
        print(j,end=" ")
    print()

10 20 30
40 50 60
70 80 90

In [57]:
n = [[1,2,3],[4,5,6],[7,8,9]]
l = [0,0,0] 

for i in range(len(n)):
    for j in range(len(n)):
        l[i][j] += n[i][j]
print(l)

TypeError: 'int' object is not subscriptable

In [54]:
n = [[1,2,3],[4,5,6],[7,8,9]]

for i in range(len(n[0])): 
    new = [row[i] for row in n]
    print(new)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

## List Comprehension

    Syntax: l = [expression for item in list if condition]

In [53]:
s = [x*x for x in range(1,11)]
print(s)
v = [2**x for x in range(1,6)]
print(v)
m = [x for x in s if x%2==0]
print(m)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]
[4, 16, 36, 64, 100]

### WAP to print element with frequency greater then a given value of key

In [59]:
l = [1,1,1,1,2,2,2,2,3,3,5,5,5,6,7]
n = []
k = 2

for i in l:
    if l.count(i)>k and i not in n:
        n.append(i)
        
print(n)

[1, 2, 5]

## Dictionary

- represent a group of object as key-value pairs <br>
  Ex. rollno-name
- Duplicate keys not allowed but values can be duplicated.
- Heterogeneous object are allowed for both key and values.
- Insertion Order not preserved.
- Mutable
- Index and slicing concepts are not applicable.<br>
Ex. d = {10:"Lucky",20:"Arman",30:"Aryan"}

In [63]:
d = {} # dict()
print(type(d))

s = set()
print(type(s))

d[10] = "Arman"
d[20] = "Aryan"
d[30] = "Lucky"
print(d)

<class 'dict'>
<class 'set'>
{10: 'Arman', 20: 'Aryan', 30: 'Lucky'}

In [65]:
d = dict([(10,"Lucky"),(20,"Arman"),(30,"Aryan")])
print(d)

{10: 'Lucky', 20: 'Arman', 30: 'Aryan'}

In [73]:
d = {10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
print(d[10])
# print(d[40]) # KeyError: 40

d[40] = "Sumit"
print(d)

d[10] = "Sachin"
print(d)

del d[40] # if not present then KeyError
print(d)

d.clear()
print(d)

del d
# print(d) # NameError: name 'd' is not defined

Arman
{10: 'Arman', 20: 'Aryan', 30: 'Lucky', 40: 'Sumit'}
{10: 'Sachin', 20: 'Aryan', 30: 'Lucky', 40: 'Sumit'}
{10: 'Sachin', 20: 'Aryan', 30: 'Lucky'}
{}

## Dictionary Comprehension

In [74]:
square = {x:x*x for x in range(1,6)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## Important Functions of Dictionary 

### 1. dict()
### 2. len()
### 3. clear()
### 4. copy()
### 5. update()

In [78]:
l = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
print(len(l))

x = l.copy()
x[1] = 50
print(l)
print(x)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 50, 2: 4, 3: 9, 4: 16, 5: 25}

In [80]:
d = {10:20,30:40,50:60}
x = {10:50,200:40,300:600}
d.update(x)
print(d)

{10: 50, 30: 40, 50: 60, 200: 40, 300: 600}

### 6. get()

In [82]:
d = {10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
print(d[10])
print(d.get(10))
print(d.get(40))

print(d.get(10,"Guest"))
print(d.get(40,"Guest"))

Arman
Arman
None
Arman
Guest

### 7. popitem()

In [85]:
d = {10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
print(d.popitem())
print(d)

d = {}
# print(d.popitem()) # KeyError: 'popitem(): dictionary is empty'

(30, 'Lucky')
{10: 'Arman', 20: 'Aryan'}

### 8. keys()
### 9. values()
### 10. items()

In [88]:
d = {10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
print(d.keys())
print(d.values())
print(d.items())
print()

for i in d.keys():
    print(i,end=" ")
print()
    
for i in d.values():
    print(i,end=" ")
print()
    
for i,j in d.items():
    print(i,"-",j,end="  ")

dict_keys([10, 20, 30])
dict_values(['Arman', 'Aryan', 'Lucky'])
dict_items([(10, 'Arman'), (20, 'Aryan'), (30, 'Lucky')])

10 20 30
Arman Aryan Lucky
10 - Arman  20 - Aryan  30 - Lucky

### setdefault()

In [89]:
d = {10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
print(d.setdefault(40,"Pavan"))
print(d)
print(d.setdefault(10,"Sachin"))
print(d)

Pavan
{10: 'Arman', 20: 'Aryan', 30: 'Lucky', 40: 'Pavan'}
Arman
{10: 'Arman', 20: 'Aryan', 30: 'Lucky', 40: 'Pavan'}

In [90]:
s = "Dog the quick brown fox jumps over the lazy dog".lower()
d = {}

for i in s.split():
    d.setdefault(i,s.count(i))
print(d)

{'dog': 2, 'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1}

### WAP to create a dict with the key as first char and value as a list of words starting with that char

In [9]:
s = "Don't wait for your feelings to change to take the action"
words = s.split()
d = {}

for i in words:
    temp=[]
    for j in words:
        if j[0]==i[0]:
            temp.append(j)
    d.setdefault(i[0],temp)
    
print(d)

{'D': ["Don't"], 'w': ['wait'], 'f': ['for', 'feelings'], 'y': ['your'], 't': ['to', 'to', 'take', 'the'], 'c': ['change'], 'a': ['action']}

In [10]:
s = "Don't wait for your feelings to change to take the action"
words = s.split()
d = {}

for word in words:
    key = word[0]
    if key in d:
        d[key].append(word)
    else:
        d[key] = [word]
print(d)

{'D': ["Don't"], 'w': ['wait'], 'f': ['for', 'feelings'], 'y': ['your'], 't': ['to', 'to', 'take', 'the'], 'c': ['change'], 'a': ['action']}

# Set

- represent a group of unique values as a single entity.
- Duplicates are not allowed.
- Insertion order is not preseved.
- Indexing and Slicing not allowed.
- Heterogeneous elements allowed.
- Mutable
- Curly braces with comma separator
- Mathematical operations like union, intersection, difference etc...

In [12]:
s = {4,2,3,3,4,4,4,1,2,5,5,6}
print(s)
print(type(s))

s = {20,25,1,4,4,7,8,10,10,22,24,26,28}
print(s)

{1, 2, 3, 4, 5, 6}
<class 'set'>
{1, 4, 7, 8, 10, 20, 22, 24, 25, 26, 28}

In [16]:
s = set()
l = [1,3,6,4,5,2]
s = set(l)
print(s)

{1, 2, 3, 4, 5, 6}

In [18]:
x = 'LJIET'
s = set(x)
print(s)

{'L', 'I', 'J', 'T', 'E'}

In [19]:
y = range(1,6)
s = set(y)
print(s)

{1, 2, 3, 4, 5}

In [20]:
l = [10,20,30,40,10,20,30]
print(set(l))

{40, 10, 20, 30}

## Mathematical Operations on Set

### union()

In [23]:
x = {10,20,30,40}
y = {30,40,50,60}
print(x.union(y))
print(x | y)
print(y.union(x))

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

### intersection()

In [26]:
print(x.intersection(y))
print(x & y)

{40, 30}
{40, 30}

### difference()

In [28]:
print(x.difference(y))
print(x - y)
print()
print(y.difference(x))
print(y - x)

{10, 20}
{10, 20}

{50, 60}
{50, 60}

### symmetric_difference()

In [29]:
print(x.symmetric_difference(y))
print(x^y)

{10, 50, 20, 60}
{10, 50, 20, 60}

### issubset()
### issuperset()

In [31]:
x = {'a','b','c'}
y = {'f','e','d','c','b','a'}

print(x.issubset(y))
print(y.issuperset(x))

True
True

# Membership Operator in set

1. in
2. not in

In [32]:
s = set("LJIET")
print('L' in s)
print('T' not in s)
print('X' in s)

True
False
False

# Important functions of String

### 1. add(x)

In [34]:
s = {10,20,30}
s.add(40)
print(s)

{40, 10, 20, 30}

### 2. update(x,y,z)

In [37]:
l = [40,50,60,70]
s.update(l,range(10,20,2),range(1,6))
print(s)

{1, 2, 3, 4, 5, 70, 40, 10, 12, 14, 16, 50, 18, 20, 60, 30}

### 3. copy()

In [40]:
s = {10,20,30,40}
x = s.copy()
x.add(70)
print(s)
print(x)

{40, 10, 20, 30}
{70, 40, 10, 20, 30}

### 4. pop()

In [42]:
s = {40,30,20,10,50}
print(s)
print(s.pop())
print(s)

{40, 10, 50, 20, 30}
40
{10, 50, 20, 30}

### 5. remove(x)

In [45]:
s = {10,20,30,40}
s.remove(30)
print(s)
# s.remove(60) #KeyError: 60

{40, 10, 20}

### 6. discard(x)

In [43]:
s = {10,20,30,40}
s.discard(30)
print(s)
s.discard(60)
print(s)

{40, 10, 20}
{40, 10, 20}

### 7. clear()

In [47]:
s.clear()
print(s)

set()

# Set Comprehension

In [49]:
s = {x*x for x in range(1,11)}
print(s)
v = {2**x for x in range(1,6)}
print(v)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
{32, 2, 4, 8, 16}

# frozenset

- It is a immutable version of set

In [50]:
x = ["Apple","Banana","Cherry"]
s = set(x)
s.add("Pineaple")
print(s)

{'Cherry', 'Pineaple', 'Banana', 'Apple'}

In [51]:
f = frozenset(x) 
f.add("Pineaple")
print(f)

AttributeError: 'frozenset' object has no attribute 'add'

### WAP to find a index at which the elements of list does not match.

In [56]:
x = [1,2,3,4,6,7,8]
y = [1,5,3,6,4,7,3]
l = []

if len(x)==len(y):
    for i in range(len(x)):
        if x[i]!=y[i]:
            l.append(i)
    print(l)
else:
    print('Length must be same...!!')

[1, 3, 4, 6]

### WAP to repalce words from dictionary given a string replace its words from lookup dictionary.

In [58]:
s = "CompusX is best for DS students"
d = {"best":"the best channel", "DS":"Data-Science"}
l = []

for i in s.split():
    if i in d:
        l.append(d[i])
    else:
        l.append(i)
print(" ".join(l))

CompusX is the best channel for Data-Science students

In [68]:
l = [1,2,3,[1,2],'abcd']
print(l[-1:-3:-1][-1][-2])

1

## Lamda Function

- Function without any name
- nameless function, anonymous function

    Syntax : lambda argument_list : expression

### Normal Function

In [2]:
def square(n):
    return n*n
print(square(5))

25

In [3]:
s = lambda n:n*n
print(s(4))
print(s(5))

16
25

## Lambda fun to find sum of two number

In [4]:
def sum(a,b):
    return a+b
print(sum(10,20))

s = lambda a,b:a*b
print(s(10,20))

30
200

### 1.map() fun

- for every element present in given sequence, apply some functionality and generate new element with required modification.

    Syntax : map(function,sequence)

In [12]:
l = [1,2,3,4,5]

def double(x):
    return 2*x

l1 = list(map(double,l))
print(l1)

l1 = list(map(lambda x:2*x,l))
print(l1)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [27]:
l1 = [1,2,3,4]
l2 = [3,4,5]

l3 = list(map(lambda x,y:x+y,l1,l2))
print(l3)

# ans length = smallest length of function

[4, 6, 8]

### 2.reduce() fun

- reduces sequence of element into a single element by applying the specified function.

    Syntax : reduce(function,sequence)
    
    
- present in functools module so need import that module to use the reduce() function.

In [19]:
from functools import *
import functools

l = [1,2,3,4,5,6]

sum = reduce(lambda x,y:x+y,l)
print(sum)

mul = reduce(lambda x,y:x*y,l)
print(mul)

21
720

### 2.filter() fun

- filter values from given sequence based on some condition.
- function argument is responsible to check condition.

    Syntax : filter(function,sequence)

In [22]:
def isEven(x):
    if x%2==0:
        return True
    else:
        return False
    
l = [0,1,2,3,4,5,6,7,8,9,10]

l1 = list(filter(isEven,l))
print(l1)

l1 = list(filter(lambda x:x%2==0,l))
print(l1)

[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10]

In [29]:
words = ["apple","banana","cherry"]
l = list(map(str.upper,words))
print(l)
l = list(map(lambda x:x.upper(),words))
print(l)

['APPLE', 'BANANA', 'CHERRY']
['APPLE', 'BANANA', 'CHERRY']

In [31]:
l = ["apple","banana","cherry","date","kiwi","orange"]
l1 = list(filter(lambda x:len(x)>5,l))
print(l1)

['banana', 'cherry', 'orange']

In [33]:
min = (lambda x,y:x if x<y else y)
print(min(101*99,102*98))

9996

### WAP to find no.s divisible by 19 or 13 from list of no.s using lambda fun

In [37]:
l = [10, 26, 54, 65, 84, 190]
l1 = list(filter(lambda x:x%13==0 or x%19==0,l))
print(l1)

[26, 65, 190]

In [46]:
# tuple,str,list
l = ["apple","cherry","banana","date"]
l1 = sorted(l,key=len)
print(l1)

['date', 'apple', 'cherry', 'banana']

In [45]:
a = ["apple","banana","cherry","pineaple"]

def fun(word):
    return word[-1]
l = sorted(a,key=fun)
print(l)

l =  sorted(a,key=lambda word:word[-1]) 
print(l)

['banana', 'apple', 'pineaple', 'cherry']
['banana', 'apple', 'pineaple', 'cherry']

In [50]:
l = [(1,5),(2,3),(3,8),(4,1)]
l1 = sorted(l,key=lambda x:x[1])
print(l1)

[(4, 1), (2, 3), (1, 5), (3, 8)]

In [49]:
# Only for list
a = ["apple","banana","cherry"]
a.sort(key=len)
print(a)

['apple', 'banana', 'cherry']

In [51]:
l = [(1,3),(2,2),(3,1)]

def fun(val):
    return val[1]
a.sort(key=fun)
print(a)

['banana', 'cherry', 'apple']

In [52]:
a = ["apple","banana","kiwi","pineaple"]
a.sort(key = lambda x:x[-1])
print(a)

['banana', 'apple', 'pineaple', 'kiwi']

In [56]:
t = "apple#banana#cherry#orange"
x = t.split("#")
print(x)
x = t.split("#",1)
print(x)
x = t.split("#",2)
print(x)
x = t.split("#",3)
print(x)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana#cherry#orange']
['apple', 'banana', 'cherry#orange']
['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']

Given a list l of size n. You need to count number of special elements in given list. An element is special if removal of that element makes the list will be balanced. If sum of even index element is equal to sum of odd index element. Also print the updated list after removal of special element.

In [82]:
l = [5,5,2,5,8]
sp=0
es,os=0,0

for i in range(len(l)):
    if i%2==0:
        es+=l[i]
    else:
        os+=l[i]

if es!=os:
    for i in range(len(l)):
        es,os=0,0
        l1 = l.copy()
        l1.pop(i)
        for i in range(len(l1)):
            if i%2==0:
                es+=l1[i]
            else:
                os+=l1[i]
        if es==os:
            sp += 1
            print('Index to be removed :',i)
            print('List after removal of index',i,"is :",l1)
            print()
    
print('Total special element :',sp)

Index to be removed : 3
List after removal of index 3 is : [5, 2, 5, 8]

Index to be removed : 3
List after removal of index 3 is : [5, 2, 5, 8]

Total special element : 2

In [ ]:
# print("Total special element",sp)

even = list(filter(lambda x:x%2==0,l))
odd = list(filter(lambda x:x%2==1,l))