# <center>Unit 4 Immutable Data Structure</center>

<h2>1.String</h2>

<h3>Accessing charecters of string <br>
          
1.by using index</h3>

In [20]:
a = "LJ University"
print(a[1])
print(a[-1])
print(a[-5])
# print(a[20]) #IndexError: string index out of range

J
y
r

2.by using Slicing operator

    Syntax: S[beginindex : endindex : step]

In [21]:
s = "Learning Python is very easy"
print(s[1:7:1])
print(s[1:7:2])
print(s[:7])
print(s[9:])
print(s[::])
print(s[:])
print(s[::2])
print(s[::-1])
print(s[-1:-4:-1])
print(s[-1:-4])

earnin
eri
Learnin
Python is very easy
Learning Python is very easy
Learning Python is very easy
Lann yhni eyes
ysae yrev si nohtyP gninraeL
ysa

Mathematical operation for String <br>
    + -> Concatenation<br>
    * -> Repetition or String Multiplication

In [22]:
print("Sakshi" + " Panchal")
print("ok"*3)

Sakshi Panchal
okokok

Comparison of String

## s1 = input("Enter First String : ")
s2 = input("Enter Second String : ")

if s1==s2:
    print("Both Strings are same")
elif s1<s2:
    print("Second Strings is greater")  
else:
    print("First Strings is greater")

Joining of String

    Syntax : s = separator.join (group of string)

In [2]:
t = ("Apple", "Banana", "Cherry")
x = "-".join(t)
print(x)

Apple-Banana-Cherry

Formatting of string

In [3]:
name = "Arman"
salary = 50000
age = 25
print("{}'s salary is {} and age is {}".format(name,salary,age))

print("{1}'s salary is {2} and age is {0}".format(name,salary,age))

Arman's salary is 50000 and age is 25
50000's salary is 25 and age is Arman

Important function of String<br>

1.len()

In [4]:
a = "LJIET"
print(len(a))

5

Removing spaces from String<br>
1.rstrip()

In [19]:
t = "banana  "
x = t.rstrip()
print(t,"is a Fruit")
print(x,"is a Fruit")
print(len(t))
print(len(x))

banana   is a Fruit
banana is a Fruit
8
6

2.lstrip()

In [25]:
t = "banana"
x = t.rstrip("a")
y = t.lstrip("b")
z = t.strip("a")
print(x)
print(y)
print(z)
print()

t = " banana "
x = t.rstrip("a")
y = t.lstrip("b")
z = t.strip("ab")
print(x)
print(y)
print(z)
print()

t = "banana"
x = t.rstrip("an")
y = t.lstrip("ban")
z = t.strip("abn")

print(x)
print(z)
print(y)
print()

t = "bandana"
x = t.rstrip("an")
y = t.lstrip("ban")
z = t.strip("anb")
print(x)
print(y)
print(z)
print()

banan
anana
banan

 banana
 banana
 banana

b



band
dana
d

Changing the case of string<br>
1.upper()

In [31]:
s = "Hello Friends"
x = s.upper()
print(x)

HELLO FRIENDS

2.lower()

In [33]:
s = "HELLO FRIENDS"
x = s.lower()
print(x)

hello friends

3.swapcase()

In [34]:
s = "Hello My name is SAKSHI"
x = s.swapcase()
print(x)

hELLO mY NAME IS sakshi

4.title()

In [42]:
s = "Hello how are you?"
x = s.title()
print(x)

Hello How Are You?

5.capitalize()

In [44]:
s = "Hello how are you?"
x = s.capitalize()
print(x)

Hello how are you?

To check Type of characters in a string (check function)
    
    ->Answer only in True or False
    
    1.isalnum() -> (A-Z, a-z, 0-9)
    2.isalpha() -> (A-Z, a-z)
    3.isdigit() -> (0-9, superscript, subscript) or isnumeric(0-9, superscript, subscript, roman, vulgur function)

In [48]:
t = "company123"
x = t.isalnum()
print(x)

True

In [50]:
t = "company"
x = t.isalpha()
print(x)

True

In [51]:
t = "5080"
x = t.isdigit()
print(x)

True

In [55]:
t = "hello world!"
x = t.islower()
print(x)

True

In [56]:
t = "HELLO WORLD"
x = t.isupper()
print(x)

True

In [58]:
a = " HELLO WELCOME"
b = " Hello"
c = " 22 Names"
d = "This Is  %$"
print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [64]:
a = "MyDemo"
b = "Demo20"
c = "2Demo"
d = "My Demo"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [65]:
s = " "
x = s.isspace()
print(x)

True

In [77]:
s = "Pyt@h$%on is 124 Very Ea$sy43"
alpha,up,low,dig,space,sp,word=0,0,0,0,0,0,0

for i in s:
    if i.isalpha:
        alpha += 1;
        if i.isupper:
            up += 1;
        else:
            low += 1;
    elif i.isdigit:
        dig += 1;
    elif i.isspace:
        space += 1;
    else:
        sp += 1
word = space+1
# print(alpha,up,low,dig,space,sp,word)

find()
    
    Syntax : s.find(substring)
             s.find(substring, begin, end)

In [82]:
s = "Learning Python is very easy"
print(s.find("a"))
print(s.find("a",3,50))
print(s.find("d"))
print(s.find("Python"))

2
25
-1
9

count()

    Syntax : s.count(substring)
             s.count(substring, begin, end)

In [83]:
s = "abcdabcdefgabcxyz"
print(s.count("a"))
print(s.count("a",5,20))

3
1

replace()

    Syntax: s.replace(old string, new string)

In [6]:
s = "Learning Java is very easy"
s1 = s.replace("Java","Python")
print(s1)

Learning Python is very easy

split()

    Syntax: s.spilt(separator)
    --> Stored in list

In [19]:
s = "LJ University"
s1 = s.split()
print(s1)

for i in s1:
    print(i)
    
s = "11-11-2024"
l = s.split("-")
print(l)

['LJ', 'University']
LJ
University
['11', '11', '2024']

<h3>Remove punctuation using translate() function</h3>

⇨ translate() with maketrans function

    maketrans → Static method on Str type
              → 3 argument version
              → First two equal length strings
              → Third-each special character in string is mapped to none

In [49]:
import string
print(string.punctuation)
print(len(string.punctuation))

print(str.maketrans("","",string.punctuation))
print()
print(str.maketrans("a","b",string.punctuation))

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
32
{33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}

{97: 98, 33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}

In [50]:
# import string
s = "Pyt@$hon is very$ easy!!"
x = str.maketrans("e"," ","$!")
print(x)
s = s.translate(x)
print(s)

{101: 32, 36: None, 33: None}
Pyt@hon is v ry  asy

In [51]:
t = "Hi Sam!!"
x = "mSa"
y = "eJo"
table = t.maketrans(x,y)
print(t.translate(table))

Hi Joe!!

<h1>Tuple</h1>

* Same as list except it is immutable
* Read only version of list
* Data is fixed and never changes then we should go for tuple
* Insertion order is preserved
* Duplicate are allowed
* Heterogeneous object are allowed
* Index will play important role in tuple
* Supports both +ve and -ve index
* Represent with () paranthesis with comma separator

<h3><u>Creation of Tuple</u></h3>

In [59]:
t = ()
print(type(t))

t = (10)
print(type(t))

t = (10,)
print(type(t))

<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [60]:
t = tuple(range(10,20,2))
print(t)

(10, 12, 14, 16, 18)

<h3><u>Accessing Element of Tuple</u></h3>

1. By using index

In [64]:
t = (10,20,30,40,50,60)
print(t[2])
print(t[-1])
print(t[-5])
# print(t[10]) # IndexError: tuple index out of range

30
60
20

2. By using slicing

In [68]:
t = (10,20,30,40,50,60)
print(t[2:5])
print(t[3:100])
print(t[::2])
print(t[-1:-4:-1])
print(t[-1:-4])

(30, 40, 50)
(40, 50, 60)
(10, 30, 50)
()

Immutability

In [70]:
t = (10,20,30,40)
t[2] = 70
print(t)

TypeError: 'tuple' object does not support item assignment

Mathematical operators for Tuple
    
    + -> concatenation
    * ->

In [71]:
t1 = (101,20,30)
t2 = (40,50,60)
print(t1+t2)

print(t1*3)

(101, 20, 30, 40, 50, 60)
(101, 20, 30, 101, 20, 30, 101, 20, 30)

IMP funs of T

1. len()

In [72]:
t = (10,20,30,40)
print(len(t))

4

2.count()

In [74]:
t = (10,20,30,10,20,40)
print(t.count(10))
print(t.count(40))
print(t.count(50))

2
1
0

In [77]:
t = (10,20,10,10,20)
print(t.index(10))
# print(t.index(30)) # ValueError: tuple.index(x): x not in tuple

0

In [81]:
t = (40,10,30,20)
t1 = sorted(t)
print(t1)
t1 = sorted(t, reverse=True)
print(t1)

[10, 20, 30, 40]
[40, 30, 20, 10]

In [86]:
t = (10,20,30,60,70,40)
print(min(t))
print(max(t))

t = ("abc","ABC","def","dXZ")
print(min(t))
print(max(t))

t = (1,2,43,'a',"sa")
# print(min(t)) #TypeError: '<' not supported between instances of 'str' and 'int'

10
70
ABC
def

In [87]:
t = "apple","banana","cherry"
i=0
while i<len(t):
    print(t[i])
    i += 1

apple
banana
cherry

reversed()

enumerate()

In [88]:
l1 = ("eat","sleep","work")
print(list(enumerate(l1)))

[(0, 'eat'), (1, 'sleep'), (2, 'work')]

In [89]:
l1 = ("eat")
print(list(enumerate(l1)))

[(0, 'e'), (1, 'a'), (2, 't')]

In [93]:
s = "hi how are you"
for a,b in enumerate(s):
    print(a,"→",b)

0 → h
1 → i
2 →
3 → h
4 → o
5 → w
6 →
7 → a
8 → r
9 → e
10 →
11 → y
12 → o
13 → u

Task

In [97]:
s = "Hello World"

n = int(input("Enter index to remove: "))
print(s[0:n] + s[n+1:])

Enter index to remove: 0
ello World